<!DOCTYPE html>
<html lang="en">
    <head>
		<link rel="stylesheet" href="css/csquest.css" />
        <link rel="stylesheet" type="text/css" href="css/progressbar.css" />
        <link rel="shortcut icon" href="#">
        <script src="js/csquest.js" type="module"></script>
        <meta charset="UTF-8" />
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0" />
        <title>PIXEL Lab Study: Survey</title>
    </head>
    <body>
        <div class="container">
            <div id="leftdesign" class="imageContainer"></div>

            <div class="rightsurvey">
                <br>
                <div class="progress">
                    <div class="progress-done">.</div>
                </div>
                <center><h2 style="text-align:center; margin-bottom:0px;">Questionnaire</h2></center>
                <p id="indicator" style="text-align:center; margin-top:0px;">(Page 1 of 4)</p>
                <!-- <center><h3 style="font-weight:500; text-align:center;">On each row, select a circle closer to the attribute you think applies to the design on left.</h3></center> -->
                
                <fieldset>
                    <legend>User Study Survey (1/4)</legend>
                    <div id = "quest" class="questionaire"></div>
                    <label id="reqfields" class="reqfields"> * missing required fields</label>
                    <div id="nextbutton" class="btn" onclick="gotospass()">
                        <span>Next</span>
                    </div>
                </div>
            </div>

            <div id="myModal" class="modal">
                <span class="close">&times;</span>
                <img class="modal-content" id="img01">
                <div id="caption"></div>
            </div>
        </div>
    </body>
</html>