<!DOCTYPE html>
<html lang="en">
    <head>
		<link rel="stylesheet" href="css/csquest.css" />
        <link rel="stylesheet" type="text/css" href="css/progressbar.css" />
        <link rel="shortcut icon" href="#">
        <script src="js/csquest.js" type="module"></script>
        <meta charset="UTF-8" />
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0" />
        <title>PIXEL Lab Study: Survey</title>
    </head>
    <body onload="setTime()">
        <script>0</script>
        <div class="container">
            <div id="leftdesign" class="imageContainer">
                <center><h2>Click on the images to make it fullscreen.</h2></center>
                <section class="gallery-box"><div class="images"></div></section>
            </div>
            <div class="card card-1">
                <div class="progress"><div class="progress-done">.</div></div>
                <center><h2>Please mark your agreement with the following statements:</h2></center>
                <p id="indicator">(Page 1 of 4)</p>
                
                <div id="quest" class="questionaire"></div>
                <label id="reqfields" class="reqfields"> * missing required fields</label>
                <div id="nextbutton" class="btn" onclick="gotospasssurvey()"><span>Next</span></div></div>
            </div>
        </div>
        <div id="myModal" class="modal">
            <span class="close">&times;</span>
            <img class="modal-content" id="img">
        </div>
        <div id="loading"></div>
    </body>
</html>