<!DOCTYPE html>
<html lang="en">
    <head>
		<link rel="stylesheet" href="css/demo.css" />
        <link rel="stylesheet" type="text/css" href="css/progressbar.css" />
        <link rel="shortcut icon" href="#"/>
        <script src="js/demo.js" type="module"></script>
        <script type="text/javascript">window.history.forward(); function noBack() { window.history.forward();}</script>
        <meta charset="UTF-8" />
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0" />
        <title>PIXEL Lab Study: Survey</title>
    </head>
    <body onload="setTime()">
        <script>0</script>
        <div class="card card-1">
            <div class="progress"><div class="progress-done">.</div></div>
            <center><h2>Please answer all the questions.</h2></center>
            
            <div class="survey">
                <div id = "quest" class="questionaire"></div>
                <label id="reqfields" class="reqfields"> * missing required fields</label>
                <div class="btn" onclick="gotothanks()"><span>Finally!!!</span></div>
            </div>
        </div>
        <div id="loading"></div>
    </body>
</html>