<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="css/designint.css" />
        <link rel="stylesheet" type="text/css" href="css/progressbar.css" />
        <link rel="shortcut icon" href="#">
        <script src="js/designint.js" type="module"></script>
        <meta charset="UTF-8" />
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0" />
        <title>Design Interaction</title>
    </head>
    <body>
        <div class="card card-1">
            <div class="progress"><div class="progress-done">.</div></div>
            <center><h2>Imagine that you are creating a password for an online account, and before you create the password, the website presents you with the following design.</h2></center>

            <div class="imageContainer"> 
                <div class="pButton" onclick="loadImage('prev')"><img src="designs/prev.png"></div>
                <div class="designPages"><img id="pages" src="designs/image-loader.gif"></div>
                <div class="nButton" onclick="loadImage('next')"><img src="designs/next.png"></div>
            </div>
            <div id="checkbox" class="checkbox">
                <input type="checkbox" class="checkbox">
                <label for="checkbox">I have gone through all the pages of the design.</label>
            </div>
            <div id="nextbutton" class="btn" onclick="gotoquest()"><span>Next</span></div>
		</div>
    </body>
</html>