<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="css/designint.css" />
        <link rel="stylesheet" type="text/css" href="css/progressbar.css" />
        <link rel="shortcut icon" href="#">
        <script src="js/designint.js" type="module"></script>
        <meta charset="UTF-8" />
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0" />
        <title>Design Interaction</title>
    </head>
    <body>
        <div class="card card-1">
            <div class="progress">
                <div class="progress-done">.</div>
            </div>
			<div class="container">
                <img id="pages" src="designs/Logos1.png">
                <button class="nextbtn" onclick="secondImage()">⮕</button>
                <button class="prevbtn" onclick="firstImage()">⬅</button>

            </div>
            
            <div class="btn" onclick="gotoquest()">
                <span>Next</span>
            </div>
		</div>
    </body>
</html>