<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="css/fcog.css" />
        <link rel="stylesheet" type="text/css" href="css/progressbar.css" />
        <link rel="shortcut icon" href="#">
        <script src="js/fcog.js" type="module"></script>
        <meta charset="UTF-8" />
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0" />
        <title>PIXEL Lab Study: Verification</title>
    </head>
    <body>
        <div class="card card-1">
            <div class="progress">
                <div class="progress-done">.</div>
            </div>
            <div class="container">
                <h2>Cognitive Task</h2>
			    <img src="designs/ftriangle.png">
                <h3>How many triangles do you see?</h3>
                <input type="text" class="textbox" name="fcogval">
                <!-- <br> -->
                <label id="reqfields" class="reqfields"> * Please enter a number. </label>
            </div>
            <br>
            <hr>
            <div class="btn" onclick="gotofpasssurvey()">
                <span>Next</span>
            </div>
		</div>
    </body>
</html>