<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="css/fpass.css" />
        <link rel="stylesheet" type="text/css" href="css/progressbar.css" />
        <link rel="shortcut icon" href="#">
        <script src="js/fpass.js" type="module"></script>
        <meta charset="UTF-8" />
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0" />
        <title>First password creation</title>
    </head>
    <body onload="setTime()">
        <div class="card card-1">
            <div class="progress">
                <div class="progress-done">.</div>
            </div>
            
            <div class="container">
            <div class="instructions">
                <p class="context">Imagine that you are creating a password for an account you care about.<br>
                Please do not use your real password, rather use the strategy similar to the one that you would use to create a password for that account. 
                <br><i><small><u>Note:</u> You will be asked to recall this password during this study.</small></i></p>
            </div>
            <div class="signup">
                <h4>Create Password</h4>
                <div class="inputContainer">
                    <input id="pass" type="password" class="input" placeholder="a">
                    <label for="pass" class="label">Password</label>
                </div>

                <div class="inputContainer">
                    <input id="repass" type="password" class="input" placeholder="a">
                    <label for="repass" class="label">Confirm Password</label>
                </div>
                <div class="checkbox">
                    <label for="showpass"><input type="checkbox" class="checkbox" onclick="showPasswords()"> Show Password </label><br>
                </div>
                <label id="passmatch" class="passwarnlabel"></label>
                <div class="btn" onclick="gotofcog()">
                    <span>Next</span>
                </div>
            </div>
        </div>
	</div>
    </body>
</html>