<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="css/fpass.css" />
        <link rel="stylesheet" type="text/css" href="css/progressbar.css" />
        <link rel="shortcut icon" href="#">
        <script src="js/fpass.js" type="module"></script>
        <meta charset="UTF-8" />
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0" />
        <title>First password creation</title>
    </head>
    <body>
        <div class="card card-1">
            <div class="progress">
                <div class="progress-done">.</div>
            </div>

			<h3>Imagine that you are creating a password for “an account you care a lot about, such as your social media account or primary email account". 
                Please take the steps you would normally take to create and remember your important passwords, and protect this 
                password as you normally would protect your important passwords.</h3>
            <h4>NOTE: You will be asked to enter the password again at the end of the study to recall the password.</h4>

            <div class="container">
                <div class="inputContainer">
                    <input id="pass" type="password" class="input" placeholder="">
                    <label for="pass" class="label">Password</label>
                </div>

                <div class="inputContainer">
                    <input id="repass" type="password" class="input" placeholder="">
                    <label for="repass" class="label">Confirm Password</label>
                </div>
                <div class="showcheck">
                    <input type="checkbox" onclick="showPasswords()"> Show Password
                </div>
                <br>
                <label id="passmatch" class="passwarnlabel"></label>
            </div>
            <br>
            <br>
            <div class="btn" onclick="gotofcog()">
                <span>Next</span>
            </div>
		</div>
    </body>
</html>