<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="css/fpassrecall.css" />
        <link rel="stylesheet" type="text/css" href="css/progressbar.css" />
        <link rel="shortcut icon" href="#">
        <script src="js/fpassrecall.js" type="module"></script>
        <meta charset="UTF-8" />
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0" />
        <title>Password Recall 1</title>
    </head>
    <body>
        <div class="card card-1">
            <div class="progress">
                <div class="progress-done">.</div>
            </div>
            <!-- <center><h2><img src="designs/userIcon.png" width="45" 
                height="45" align="center"/> Password Recall</h2></center> -->

            <center><h2>Password Recall</h2></center>
            <h4>Below, enter the password that you created during this study.</h4>
            <h4>You will get a maximum of <b>three attempts</b> to correctly enter the password.</h4>
            <div class="container">
                <div class="inputContainer">
                    <input id="pass" type="password" class="input" placeholder="a">
                    <label for="pass" class="label">Password</label>
                </div>
                <label id="retryPass" class="passwarnlabel"></label>
                <br>
                <div class="checkbox">
                    <label for="showpass"><input type="checkbox" class="checkbox" onclick="showPassword()"> Show Password </label><br>
                </div>
                <br>
            </div>
            <hr>
            <div class="btn" onclick="gotopagegif()">
                <span>Next</span>
            </div>
		</div>
    </body>
</html>