<!DOCTYPE html>
<html lang="en">
    <head>
		<link rel="stylesheet" href="css/index.css" />
        <link rel="shortcut icon" href="#">
        <script src="js/index.js" type="module"></script>
        <meta charset="UTF-8" />
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0" />
        <title>PIXEL Lab Study: Start</title>
    </head>
    <body>
        <div class="card card-1">
            <h1>Enter your worker id: </h1>
            <input type="text" class="textbox" name="workerid">
                <label id="reqfields" class="reqfields"> * Please enter a number. </label>
            <div class="btn" onclick="submitId()">
                <span>Submit</span>
            </div>
		</div>
    </body>
</html>