<!DOCTYPE html>
<html lang="en">
    <head>
		<link rel="stylesheet" href="css/indexmain.css" />
        <link rel="stylesheet" type="text/css" href="css/progressbar.css" />
        <link rel="shortcut icon" href="#">
        <script src="js/index.js" type="module"></script>
        <meta charset="UTF-8" />
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0" />
        <title>PIXEL Lab Study: Start</title>
    </head>
    <body>
        <div class="card card-1">
            <div class="progress">
                <div class="progress-done">.</div>
            </div>
            <h1>We appreciate you taking the time for our study.</h1>
            <h3>This research is conducted by the PIXEL Lab at Utah State University.</h2>
            <h3>In this study, you will go through a design made for user signup page, create passwords, <br>answer a set of survey questions about the design and the passwords.</h2>
            <hr>
            <h3><i>Note: You may find some <b>attention check questions</b> in the study.</i></h3>
<!--             
            <h1>We appreciate you taking the time for our study.</h1>
            <h2>This research is conducted by the PIXEL Lab at Utah State University.</h2>
            <hr>
            <h2>In this study, you will:</h2>
            <h2>- interact with a user interface</h2>
            <h2>- answer some survey questions</h2>
            
            <hr>

            <h2>Please provide your responses to the questions we will ask based on your immediate judgment.</h2>
            <h2>There are <b>no right or wrong answers</b> in this study. We are interested to learn about your opinion.</h2>
            <h3 style="font-weight:500;"><i>Note: you may find some <b>attention check questions</b> in the study.</i></h3>
             -->
            <div class="btn" onclick="startStudy()">
                <span>Start</span>
            </div>

                <!-- <input type="button" value="DB" onclick=dbButtonClick()>
                <input class="hide" type="text" id="textInput" value=""/> -->

		</div>
    </body>
</html>