<!DOCTYPE html>
<html lang="en">
    <head>
		<link rel="stylesheet" href="css/index.css" />
        <link rel="shortcut icon" href="#">
        <script src="js/index.js" type="module"></script>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>PIXEL Lab Study: Start</title>
    </head>
    <body>
        <script>0</script>
        <div class="card card-1">
            <h1>Enter your Worker ID: </h1>
            <input type="text" class="textbox" placeholder="e.g. ads2r" name="workerid"><br>
            <label id="reqfields" class="reqfields"></label>
            <div class="btn" onclick="submitId()"><span>Submit</span></div>
		</div>
        <div id="loading"></div>
    </body>
</html>