<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="css/motivation.css" />
        <link rel="stylesheet" type="text/css" href="css/progressbar.css" />
        <link rel="shortcut icon" href="#">
        <script src="js/motivation.js" type="module"></script>
        <meta charset="UTF-8" />
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0" />
        <title>Design GIF Tutorial</title>
    </head>
    <body onload="setTime()">
        <script>0</script>
        <div class="card card-1">
            <div class="progress"><div class="progress-done">.</div></div>
			<div class="container">
                <!-- <div class="left">
                    Imagine that you are creating a password for an account you care about,<br> where the design you just went through is a part of the sign up page.<br><br>
                <i><small><u>Note:</u> You will be asked to recall this password during this study.</small></i>
                </div> -->

                <div class="left">
                    The purpose of this research is to understand the impact of visual designs,<br> aimed at motivating users to create a strong password.<br><br>
                    In real life, the design you just went through will be a part <br>of sign up page, as presented in the next page.<br><br>
                <i><small><u>Note:</u> You will be asked to recall this password during this study.</small></i>
                </div>

            </div>
            <!-- <br><br> -->
            <div id="checkbox" class="checkbox">
                <input type="checkbox" class="checkbox">
                <label for="checkbox">I understand the instructions above, for creating a password in the next page.</label>
            </div>
            <div id="nextbutton" class="btn" onclick="gotospass()"><span>Next</span></div>
		</div>
        <div id="loading"></div>
    </body>
</html>