<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="css/pagegif.css" />
        <link rel="stylesheet" type="text/css" href="css/progressbar.css" />
        <link rel="shortcut icon" href="#">
        <script src="js/pagegif.js" type="module"></script>
        <meta charset="UTF-8" />
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0" />
        <title>Design Interaction</title>
    </head>
    <body>
        <div class="card card-1">
            <div class="progress">
                <div class="progress-done">.</div>
            </div>
            <br>
            <h2>Instructions Page</h2>

			<div class="container">
                <div class="left">
                    The <b>goal</b> of our <b>research</b> is to make users feel motivated to create a strong password.
                       <br><br> Now, imagine that you are signing up for an online account and <b>before you create a password</b>, 
                        the website presents you with the design that we will show on the next page. 
                        <br><br>
                        <i>Note: The design contains multiple pages that altogether convey a story. 
                        You can click on the arrow keys to go to the next pages.</i>
                </div>
                <div class="right">
                    <img id="pages" src="designs/pagegif.gif">
                </div>
            </div>
            <!-- <br><br> -->
            <div class="checkbox">
                <input type="checkbox" class="checkbox" onchange='document.getElementById("nextbutton").style.display = this.checked ? "block": "none"'>
                <label for="checkbox">I understand the instructions above.</label>
            </div>
            <br><hr><br>
            <div id="nextbutton" class="btn" onclick="gotodesignint()">
                <span>Next</span>
            </div>
		</div>
    </body>
</html>