<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="css/indexmain.css" />
        <link rel="stylesheet" type="text/css" href="css/progressbar.css" />
        <script src="js/page1.js"></script>
        <meta charset="UTF-8" />
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0" />
        <title>Page1</title>
    </head>
    <body>
        <div class="card card-1">
            <div class="progress">
                <div class="progress-done" style="width:25%;">
                    25%
                </div>
            </div>
			<h3>Imagine that you are creating a password for “an account you care a lot about, such as their primary social media account or primary email account.” 
                You will be asked to enter the password again at the end of the study to recall the password. Please take the steps you would normally take to create and remember your important passwords, 
                and protect this password as you normally would protect your important passwords.”                
            </h3>
            <label for="psw"><b>Password</b></label>
            <input id="pass" type="password" placeholder="Enter Password" name="psw" required>

            <label for="psw"><b>Re-enter Password</b></label>
            <input id="repass" type="password" placeholder="Confirm Password" name="repsw" required>
            <br>
            <input type="checkbox" onclick="showPassword()">Show Password
            <br>
            
            <label id="passmatch" class="passwarnlabel">Password did not match!</label>

            <div class="btn btn-three" onclick="gotoPage2()">
                <span>Next</span>
            </div>



		</div>
        <!-- table for showing data -->

    </body>
</html>