<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="css/indexmain.css" />
        <link rel="stylesheet" type="text/css" href="css/progressbar.css" />
        <script src="js/page3.js"></script>
        <meta charset="UTF-8" />
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0" />
        <title>Page21</title>
    </head>
    <body>
        <div class="card card-1">
            <div class="progress">
                <div class="progress-done" style="width:75%;">
                    75%
                </div>
            </div>
			<img src="designs/pagegif.gif" width="80%" height="80%">
        <hr>
            <div class="btn btn-three" onclick="gotoPage4()">
                <span>Page 4</span>
              </div>
		</div>
        <!-- table for showing data -->

    </body>
</html>