<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="css/pagegif.css" />
        <link rel="stylesheet" type="text/css" href="css/progressbar.css" />
        <link rel="shortcut icon" href="#">
        <script src="js/pagegif.js" type="module"></script>
        <meta charset="UTF-8" />
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0" />
        <title>Design GIF Tutorial</title>
    </head>
    <body onload="setTime()">
        <script>0</script>
        <div class="card card-1">
            <div class="progress"><div class="progress-done">.</div></div>
			<div class="container">
                <div class="left">
                    You will interact with three designs that will teach you about good passwords. You will go over each designs one by one. Let's start with the first design.
            </div>
            <div id="nextbutton" class="btn" onclick="gotodesignAInfo()"><span>Next</span></div>
		</div>
        <div id="loading"></div>
    </body>
</html>