<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="css/indexmain.css" />
        <link rel="stylesheet" type="text/css" href="css/progressbar.css" />
        <script src="js/page1.js"></script>
        <meta charset="UTF-8" />
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0" />
        <title>Page1</title>
    </head>
    <body>
        <div class="card card-1">
            <div class="progress">
                <div class="progress-done" style="width:25%;">
                    25%
                </div>
            </div>
			<h1>This is Page 1.</h1>
        <hr>
            <div class="btn btn-three" onclick="gotoPage2()">
                <span>Page2</span>
              </div>
		</div>
        <!-- table for showing data -->

    </body>
</html>