<!DOCTYPE html>
<html lang="en">
    <head>
		<link rel="stylesheet" href="css/page5.css" />
        <link rel="stylesheet" type="text/css" href="css/progressbar.css" />
        <link rel="shortcut icon" href="#">
        <script src="js/page5.js" type="module"></script>
        <meta charset="UTF-8" />
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0" />
        <title>PIXEL Lab Study: Survey</title>
    </head>
    <body>
        <div>
            <div class="split left">
                <div class="leftdesign">
                    <h2>Design Infographics</h2>
                    <p>I love this design.</p>
                    <img id="myImg" class="designimg" src="designs/Infographics.png" alt="Design of password persuasion">
                </div>
            </div>
            
            <div class="split right">
                <div class="rightsurvey">
                    <br>
                    <div class="progress">
                        <div class="progress-done">.</div>
                    </div>
                    <center><h2>In this section, we ask how you feel about particular design.</h2></center>
                    <fieldset>
                        <legend>User Study Survey</legend>
                        <br>
                        <div id = "quest" class="questionaire"></div>
                        <hr>
                        <div><input class="submitbtn" type="button" value="Submit" onclick=submitClick()></div>
                    </fieldset>
                    <!-- <div id="result"></div> -->
                </div>
            </div>

            <div id="myModal" class="modal">
                <span class="close">&times;</span>
                <img class="modal-content" id="img01">
                <div id="caption"></div>
            </div>
        </div>
            <!-- <input type="button" value="Submit" onclick=submitClick()>
            
            <div id="result"></div> -->
    </body>
</html>