<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="css/indexmain.css" />
        <link rel="stylesheet" type="text/css" href="css/progressbar.css" />
        <script src="js/page2.js"></script>
        <meta charset="UTF-8" />
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0" />
        <title>Page2</title>
    </head>
    <body>
        <div class="card card-1">
            <div class="progress">
                <div class="progress-done" style="width:50%;">
                    50%
                </div>
            </div>
			<img src="designs/studyFlow.png">
            <div class="btn btn-three" onclick="gotoPage3()">
                <span>Page3</span>
            </div>
            <!-- <div class="btn btn-three" onclick="gotoPage22()">
                <span>Page22</span>
            </div> -->
		</div>
        <!-- table for showing data -->

    </body>
</html>