<!DOCTYPE html>
<html lang="en">
    <head>
		<link rel="stylesheet" href="css/page6.css" />
        <link rel="stylesheet" type="text/css" href="css/progressbar.css" />
        <link rel="shortcut icon" href="#">
        <script src="js/page6.js" type="module"></script>
        <meta charset="UTF-8" />
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0" />
        <title>PIXEL Lab Study: Start</title>
    </head>
    <body>
        <div class="card card-1">
            <div class="progress">
                <div class="progress-done">.</div>
            </div>
            <h1>Thank you.</h1>
            <h2>We appreciate you taking the time for our study.</h2>
            <h2>Have a good time ahead.</h2>
		</div>
    </body>
</html>