<!DOCTYPE html>
<html lang="en">
    <head>
		<link rel="stylesheet" href="css/quest.css" />
        <link rel="stylesheet" type="text/css" href="css/progressbar.css" />
        <link rel="shortcut icon" href="#">
        <script src="js/quest.js" type="module"></script>
        <meta charset="UTF-8" />
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0" />
        <title>PIXEL Lab Study: Survey</title>
    </head>
    <body>
        <div>
            <div class="split left">
                <div class="leftdesign">
                    <!-- <h2>Design Infographics</h2> -->
                    <img id="myImg" class="designimg" src="designs/Logos1.png" alt="Design">
                    <br>
                    <br>
                    <img id="myImg" class="designimg" src="designs/Logos2.png" alt="Design">
                    <br>
                    <br>
                    <img id="myImg" class="designimg" src="designs/Logos1.png" alt="Design">


                </div>
            </div>
            
            <div class="split right">
                <div class="rightsurvey">
                    <br>
                    <div class="progress">
                        <div class="progress-done">.</div>
                    </div>
                    <h2 style="text-align:center; margin-bottom:0px;">Questionnaire</h2>
                    <p style="text-align:center; margin-top:0px;">(Page 1 of 4)</p>
                    <center><h3 style="font-weight:500; text-align:center;">On each row, select a circle closer to the attribute you think applies to the design on left.</h3></center>
                    
                    <fieldset>
                        <legend>User Study Survey</legend>
                        <br>
                        <div id = "quest" class="questionaire"></div>
                        <label id="reqfields" class="reqfields"> * missing required fields</label>
                        <hr>
                        <div><input class="submitbtn" type="button" value="Submit" onclick=gotocsquest()></div>
                    </fieldset>
                    <!-- <div id="result"></div> -->
                </div>
            </div>

            <div id="myModal" class="modal">
                <span class="close">&times;</span>
                <img class="modal-content" id="img01">
                <div id="caption"></div>
            </div>
        </div>
            <!-- <input type="button" value="Submit" onclick=submitClick()>
            
            <div id="result"></div> -->
    </body>
</html>