<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="css/scog.css" />
        <link rel="stylesheet" type="text/css" href="css/progressbar.css" />
        <link rel="shortcut icon" href="#">
        <script src="js/scog.js" type="module"></script>
        <meta charset="UTF-8" />
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0" />
        <title>PIXEL Lab Study: Verification</title>
    </head>
    <body>
        <div class="card card-1">
            <div class="progress">
                <div class="progress-done">.</div>
            </div>
			<img src="designs/ftriangle.png">
            <h3>How many triangles do you see?</h3>
            <input type="text" class="textbox" name="fcogval"><br>
            <br>
            <label id="reqfields" class="reqfields"> * Please enter a number. </label>
            <br>
            <hr>
            <div class="btn btn-three" onclick="gotospasssurvey()">
                <span>Next</span>
            </div>
		</div>
    </body>
</html>