<!DOCTYPE html>
<html lang="en">
    <head>
		<link rel="stylesheet" href="css/spasssurvey.css" />
        <link rel="stylesheet" type="text/css" href="css/progressbar.css" />
        <link rel="shortcut icon" href="#">
        <script src="js/spasssurvey.js" type="module"></script>
        <meta charset="UTF-8" />
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0" />
        <title>PIXEL Lab Study: Survey</title>
    </head>
    <body>
        <div class="">
            <div class="progress">
                <div class="progress-done">.</div>
            </div>
            <center><h2>PIXEL Lab Study: Survey</h2></center>
            <center><h3>Note: All of the fields are required.</h3></center>
            
            <fieldset class="survey">
                <legend>User Study Survey</legend>
                <div id = "quest" class="questionaire"></div>
                <label id="reqfields" class="reqfields"> * missing required fields</label>
                <br>
                <hr>
                <div><input class="submitbtn" type="button" value="Next" onclick=gotospassrecall()></div>
            </fieldset>
        </div>
    </body>
</html>