<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="css/spassrecall.css" />
        <link rel="stylesheet" type="text/css" href="css/progressbar.css" />
        <link rel="shortcut icon" href="#">
        <script src="js/spassrecall.js" type="module"></script>
        <meta charset="UTF-8" />
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0" />
        <title>Password Recall 2</title>
    </head>
    <body onload="setTime()">
        <script>0</script>
        <div class="card card-1">
            <div class="progress">
                <div class="progress-done">.</div>
            </div>
            <center><h2>Password Recall</h2></center>
            <div class="twosides">
                <div class="instructions"> 
                    <p class="context">Enter the password that you just created after seeing the design<br>(i.e., <b>Not</b> the first password you created during the study).<br><br>
                    You will get a maximum of <b>three attempts</b> to correctly enter the password.</p>
                </div>
                <div class="container">
                    <div class="inputContainer">
                        <input id="pass" type="password" class="input" placeholder="a">
                        <label for="pass" class="label">Password</label>
                    </div>
                    <label id="retryPass" class="passwarnlabel"></label>
                    <div class="checkbox">
                        <label for="showpass"><input type="checkbox" class="checkbox" onclick="showPassword()"> Show Password </label>
                    </div>
                    <div class="btn" onclick="gotodemo()">
                        <span>Next</span>
                    </div>
                </div>
		    </div>
        </div>
        <div id="loading"></div>
    </body>
</html>