<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="css/spass.css" />
        <link rel="stylesheet" type="text/css" href="css/progressbar.css" />
        <link rel="shortcut icon" href="#">
        <script src="js/spass.js" type="module"></script>
        <meta charset="UTF-8" />
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0" />
        <title>Second password creation</title>
    </head>
    <body onload="setTime()">
        <div class="card">
            <div class="progress"><div class="progress-done">.</div></div>
            <!-- <center><h3>Imagine that you are creating a password for an account you care about. 
                Please do not use your real password,<br>
                rather use the strategy similar to the one that you would use to create a password for that account. 
                <br><i>Note: You will be asked to recall this password during this study.</i>
            </h3></center> -->
            <div class="container">
                <div class="imageInfo">
                <div class="imageContainer"> 
                    <div class="pButton" onclick="loadImage('prev')"><img id="p" src="designs/prev.png"></div>
                    <div class="designPages"><img id="pages" src="designs/image-loader.gif"></div>
                    <div class="nButton" onclick="loadImage('next')"><img id="n" src="designs/next.png"></div>
                </div>
                <div id="indicator">1 of 5</div><br>
                <!-- <div id="arrows">Click on the arrow keys to go to next pages</div> -->
                </div>
            
                <div class="signup">
                    <h4>Create Password</h4>
                    <div class="inputContainer">
                        <input id="pass" type="password" class="input" placeholder="a">
                        <label for="pass" class="label">Password</label>
                    </div>

                    <div class="inputContainer">
                        <input id="repass" type="password" class="input" placeholder="a">
                        <label for="repass" class="label">Confirm Password</label>
                    </div>
                    <div class="checkbox">
                        <label for="showpass"><input type="checkbox" class="checkbox" onclick="showPasswords()"> Show Password </label><br>
                    </div>
                    <label id="passmatch" class="passwarnlabel"></label>
                    <div class="btn" onclick="gotoscog()">
                        <span>Next</span>
                    </div>
                </div>
            </div>
		</div>
    </body>
</html>