<!DOCTYPE html>
<html lang="en">
    <head>
		<link rel="stylesheet" href="css/startstudy.css" />
        <link rel="stylesheet" type="text/css" href="css/progressbar.css" />
        <link rel="shortcut icon" href="#">
        <script src="js/startstudy.js" type="module"></script>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>PIXEL Lab Study: Start</title>
    </head>
    <body onload="setTime()">
        <script>0</script>
        <div class="card card-1">
            <div class="progress"><div class="progress-done">2%</div></div>
            <h1>We appreciate you taking the time for our study.</h1>
            <h3>The purpose of this research is to understand the impact of visual designs,<br> aimed at helping users to create a strong password.</h3>
            <hr>
            <h3><i>Note: You may find some <b>attention check questions</b> in the study.</i></h3>
            <div class="btn" onclick="startStudy()"><span>Start</span></div>
		</div>
        <div id="loading"></div>
    </body>
</html>