<!DOCTYPE html>
<html lang="en">
    <head>
		<link rel="stylesheet" href="css/thanks.css" />
        <link rel="stylesheet" type="text/css" href="css/progressbar.css" />
        <link rel="shortcut icon" href="#"/>
        <script src="js/thanks.js" type="module"></script>
        <meta charset="UTF-8" />
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0" />
        <title>PIXEL Lab Study: Start</title>
    </head>
    <body>
        <div class="card card-1">
            <div class="progress">
                <div class="progress-done">.</div>
            </div>
            <h1>Thank you!</h1>
            <h3>We appreciate you taking the time for our study.</h3>
            <h4>Have a good time ahead.</h4>
		</div>
    </body>
</html>