@import url("indexmain.css");

body {
  height: 100%;
}

.container {
  display: flex;
  align-items: center;
  width: 100%;
}

.container .imageContainer {
  flex: 1;
  margin-left: 1%;
}

.gallery-box div {
  columns: 2;
  column-gap: 2%;
}

.gallery-box img {
  width: 100%;
  height: auto;
  border-radius: 1%;
  object-fit: cover;
  border: 3px solid black;
}

.container .card {
  flex: 2;
  margin-top: 1%;
  text-align: justify;
  margin-left: 4%;
  margin-right: 2%;
}

.questionaire {
  margin-left: 1%;
}

.btn {
  width: 18%;
}

h2 {
  width: 100%;
}

hr {
  border: #eee;
}

input[type=text] {
  width: 50%;
  height: fit-content;
  padding: 1% 1%;
  margin: 1% 0;
  margin-left: 2%;
}

.p {
  font-weight: 400;
  font-size: 22px;
  color: lightblue;
}