@import url("indexmain.css");

body {
  height: 100%;
}

.survey {
  margin: 2%;
  text-align: justify;
  position: relative;
  border-color: #ccc;
  border-style: solid;
  width: 75%;
  margin-left: 12%;
}

.questionaire h3 {
font-family: 'Nunito', sans-serif;
font-weight: 550;
padding-top: 2%;
font-size: large;
}

.questionaire h4 {
  padding-left: 3%;
  font-family: 'Nunito', sans-serif;
  font-weight: 550;
  font-size: large;
}

.checkbox {
  padding-left: 2%;
}

.checkbox label {
  padding-left: 1%;
}

.likert li input[type=radio]:hover {
  box-shadow:0px 0px 5px #1300ff;
}
  
.option {
  padding-left: 2%;
}

.option label {
  padding-left: 1%;
}

.textbox {
  padding-left: 2%;
}

.textbox input[type=text] {
  height: 20px;
}

.reqfields {
  margin-top: 3%;
  padding-left: 3%;
}

.btn {
  width: 20%;
}
