@import url("indexmain.css");

body {
  height: 100%;
}

.card {
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  width: 60%;
}

.survey {
  margin: 0%;
  text-align: justify;
  width: 90%;
  padding: 4%;
  padding-top: 0%;
}
  
.option {
  padding-left: 2%;
}

.option label {
  padding-left: 1%;
}

.checkbox {
  padding-left: 3%;
}

.textbox {
  padding-left: 2%;
}

.textbox input[type=text] {
  height: 20px;
}

.reqfields {
  margin-top: 3%;
  padding-left: 3%;
}

.btn {
  width: 20%;
}

h2 {
  width: 50%;
}