@import url("indexmain.css");

.card {
  margin-top: 0;
}

.text {
  font-weight: 500;
  font-size: 22px;
  width: 70%;
  margin: 0 auto;
}

.imageContainer {
  display: flex;
  margin: auto;
  margin-bottom: 1%;
  width: 95%;
  /* border: 2px solid #ccc; */
  background-color: #ddd;
}

.imageContainer .pButton {
  display: flex;
  justify-content: center;
  background-color: rgb(74, 111, 144);
  width: 10%;
}

.imageContainer .pButton img {
  margin: auto;
  width: 80%;
}

.imageContainer .pButton:hover {
  opacity: 0.5;
  transition: visibility 0s, opacity 0.5s linear;
  transform: scale(1.01);
}

.imageContainer img {
  width: 100%;
  object-fit: cover;
}

.designPages {
  background-color: #fff;
}

.imageContainer .nButton {
  display: flex;
  justify-content: center;
  background-color: rgb(74, 111, 144);
  width: 10%;
}

.imageContainer .nButton:hover {
  opacity: 0.5;
  transition: visibility 0s, opacity 0.5s linear;
  transform: scale(1.01);
}

.imageContainer .nButton img {
  margin: auto;
  width: 80%;
}

.checkbox input[type=checkbox] {
  height: 22px;
  width: 22px;
}

.checkbox input[type=checkbox]:hover {
  box-shadow:0px 0px 10px #1300ff;
}

.checkbox label {
  font-size: 20px;
  font-family: 'Nunito', sans-serif;
}

#nextbutton {
  visibility: hidden;
  margin-top: 1%;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

h2{
  font-weight: 600;
  font-size: 22px;
  width: 70%;
  margin: 0 auto;
}