@import url("indexmain.css");

/* .container {
  position: relative;
  width: 100%;
  max-width: 800px;
  padding: 10%;
} */
  
.container img {
  width: 80%;
  height: 80%;
  border: 2px solid rgb(89, 89, 210);
  padding: 3%;
  padding-left: 10%;
  padding-right: 10%;
  background-color: black;
}

.container .nextbtn {
  background-color: rgb(63, 134, 220);
  position: absolute;
  top: 50%;
  left: 94%;
  height: 80px;
  width: 80px;
  transform: translate(-50%, -50%);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 50px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50%;
}
  
.container .nextbtn:hover {
  background-color: skyblue;
}
  
.container .prevbtn {
  background-color: rgb(63, 134, 220);
  position: absolute;
  top: 50%;
  left: 6%;
  height: 80px;
  width: 80px;
  transform: translate(-50%, -50%);
  border: none;
  color: white;
  /* padding: 5px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 50px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50%;
}

.container .prevbtn:hover {
  background-color: skyblue;
}