@import url("indexmain.css");

body {
    height: 100%;
}

.card {
    margin-top: 2%;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.textbox {
    width:8%;
    height: 30px;
    font-size: large;
}

.container img{
    margin-top: 2%;
    padding: 2%;
    height: 400px;
    width: 450px;
}

.container .reqfields {
    margin-top: 1%;
}
