@import url("indexmain.css");

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  padding-top: 2%;
  width: 30%;
  min-width: 60%;
  margin: auto;
}

.inputContainer {
  position: relative;
  height: 50px;
  width: 30%;
  margin-bottom: 17px;
  max-width: 90%;
  padding: 1%;
}


.input:focus + .label {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 16px;
  font-weight: 600;
  color: #0039a6;
}

.input:focus {
  border: 2px solid #0039a6;
}

.input:not(:placeholder-shown)+ .label {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 18px;
  font-weight: 600;
}

::placeholder {
  color: transparent;
}

.label {
  position: absolute;
  top: 22px;
  left: 15px;
  padding: 0 8px;
  color: #0066b2;
  background-color: #eee;
  font-size: 18px;
  transition: 0.5s;
  z-index: 0;
}

h3 {
  font-weight: 400;
  font-size: 22px;
}

/* .showcheck {
  font-size: large;
}

.showcheck input[type=checkbox]{
  width: 20px;
  height: 20px;
} */