@import url("indexmain.css");

body {
  height: 100%;
}

.survey {
  margin: 2%;
  text-align: justify;
  position: relative;
  border-color: #ccc;
  border-style: solid;
  width: 75%;
  margin-left: 12%;
}

.checkbox {
  padding-left: 2%;
}

.checkbox label {
  padding-left: 1%;
}

.reqfields {
  margin-top: 3%;
  padding-left: 3%;
}