@import url("indexmain.css");

.card {
  margin-top: 1%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  margin: auto;
  margin-top: 2%;
  padding-bottom: 3%;
}

.instructions {
  width: 90%;
  border: 2px solid #eee;
  box-shadow: 5px 5px 5px #B6B6B6;
  padding: 1%;
  margin-left: 4%;
  margin-top: 0;
  margin-top: auto;
}

.signup {
  margin: auto;
  margin-top: 2%;
  width: 30%;
  padding: 2%;
  padding-top: 3%;
  border: 2px solid #eee;
  box-shadow: 10px 10px 10px #B6B6B6;
}

.inputContainer {
  margin-bottom: 17px;
  padding: 1%;
  width: 80%;
  margin-left: 7%;
}

.input:focus + .label {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 16px;
  font-weight: 600;
  color: #0039a6;
}

.input:focus {
  border: 2px solid #0039a6;
}

.input:not(:placeholder-shown)+ .label {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 18px;
  font-weight: 600;
}

::placeholder {
  color: transparent;
}

.label {
  position: absolute;
  top: 20px;
  left: 15px;
  padding: 0 8px;
  color: #0066b2;
  background-color: white;
  font-size: 18px;
  transition: 0.5s;
  z-index: 0;
}

.btn {
  margin-top: 5%;
  width: 37%;
}

.checkbox {
  margin-bottom: 2%;
}

