@import url("indexmain.css");

.card {
  padding-bottom: 4%;
  margin-top: 2%;
  margin-bottom: 8%;
}

/* .twosides {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
} */

.instructions {
  width: 70%;
  height: auto;
  margin-top: 1%;
  border: 2px solid #eee;
  box-shadow: 10px 10px 10px #B6B6B6;
  padding: 1%;
  margin-left: 15%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; 
  width: 30%;
  padding: 2%;
  padding-top: 6%;
  margin-left: 34%;
  border: 2px solid #eee;
  box-shadow: 10px 10px 10px #B6B6B6;
  margin-top: 2%;

}

.inputContainer {
  margin-bottom: 8%;
  padding: 2%;
  width: fit-content;
}

.input {
  height: 100%;
  width: 100%;
  max-width: 90%;
  border: 1px solid #0039a6;
  border-radius: 7px;
  font-size: 16px;
  padding: 0 20px;
  outline: none;
  background: none;
  z-index: 1;
}

.input:focus + .label {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 16px;
  font-weight: 600;
  color: #0039a6;
}

.input:focus {
  border: 2px solid #0039a6;
}

.input:not(:placeholder-shown)+ .label {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 18px;
  font-weight: 600;
}

::placeholder {
  color: transparent;
}

.label {
  position: absolute;
  top: 22px;
  left: 15px;
  padding: 0 8px;
  color: #0066b2;
  background-color: white;
  font-size: 18px;
  transition: 0.5s;
  z-index: 0;
}


h4 {
  font-weight: 400;
}

.btn {
  margin-top: 5%;
  width: 35%;
}