@import url("indexmain.css");

body {
    margin-top: 15%;
}

input[type=text] {
    width: 20%;
    padding: 1% 1%;
    margin: 1% 0;
}

/* .reqfields {
    margin-left: 15%;
} */
.btn {
    margin-top: 2%;
}