@import url("indexmain.css");
  
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* .right {
  max-width: 100%;
  margin: auto;
} */

/* .container img {
  width: 80%;
  border: 3px solid #ddd;
  padding: 3%;
} */

.left {
  font-weight: 400;
  font-size: 22px;
  /* border: 3px solid black; */
  width: 50%;
  height: auto;
  margin-top: 3%;
  margin-left: 20%;
  margin-bottom: 3%;
  border: 2px solid #ddd;
  box-shadow: 10px 10px 10px #B6B6B6;
  padding: 5%;
}

h2{
  margin-left: 33.5%;
}

.checkbox input[type=checkbox] {
  height: 22px;
  width: 22px;
}

.checkbox input[type=checkbox]:hover {
  box-shadow:0px 0px 10px #1300ff;
}

.checkbox label {
  font-size: 20px;
  font-family: 'Nunito', sans-serif;
}

#nextbutton {
  margin-top: 1%;
  pointer-events: none;
  opacity: 0.4;
}
