@import url("indexmain.css");


.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  background-color: #fff;
}

.leftdesign {
  text-align: center;
  justify-content: center;
}

.designimg {
  width: 90%;
}

body {font-family: Arial, Helvetica, sans-serif;}

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 100%;
  max-width: 80%;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

.right {
  right: 0;
  background-color: #eee;
}

.rightsurvey {
  text-align: justify;
  position: relative;
}

.questionaire h2 {
  font-family: 'Nunito', sans-serif;
}

.likert li {
  display: inline-block;
  list-style-type: none;
  font-family: 'Nunito', sans-serif;
}


.box {
  width: 60px;
  vertical-align: top;
  display: inline-block;
  text-align: center;
}


/* RadioButton */

.box input {
  height: 20px;
  width: 20px
}


/* ***** END ***** */

.submitbtn {
  display: block;
  margin: 0 auto;
  background-clip: padding-box;
  background-color: #9df;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 30px;
  font-weight: 300;
  justify-content: center;
  line-height: 1;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  padding-bottom: 20px;
}

.submitbtn:hover,
.submitbtn:focus {
  background-color: #9cf;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.submitbtn:hover {
  transform: translateY(-1px);
}

.submitbtn:active {
  background-color: #9cf;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}