@import url("indexmain.css");

/* .container {
  position: relative;
  width: 100%;
  max-width: 800px;
  padding: 10%;
} */
  
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.right {
  max-width: 100%;
  /* flex: 1; */
  margin: auto;
}

.container img {
  width: 80%;
  /* box-shadow: 0px 13px 10px #B6B6B6; */
  /* padding: 10%; */
  border: 3px solid #ddd;
  /* margin-top: 18%; */
  padding: 3%;
}

.left {
  font-weight: 400;
  font-size: 22px;
  /* border: 3px solid black; */
  width: 250%;
  height: 20%;
  margin-top: 3%;
  margin-left: 5%;
  margin-bottom: 3%;
  border: 2px solid #ddd;
  box-shadow: 10px 10px 10px #B6B6B6;
  padding: 5%;
}

h2{
  margin-left: 33.5%;
}

.checkbox input[type=checkbox] {
  height: 22px;
  width: 22px;
}

.checkbox input[type=checkbox]:hover {
  box-shadow:0px 0px 10px #1300ff;
}

.checkbox label {
  font-size: 20px;
  font-family: 'Nunito', sans-serif;
}

#nextbutton {
  /* display: none; */
  visibility: hidden;
  margin-top: 1%;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}