@import url("indexmain.css");

.container {
  position: relative;
  width: 100%;
  max-width: 800px;
}
  
.container img {
  width: 100%;
  height: auto;
}
  
.container .nextbtn {
  position: absolute;
  top: 92%;
  left: 92%;
  transform: translate(-50%, -50%);
  background: #555;
  color: white;
  font-size: 50px;
  cursor: pointer;
  text-align: center;
}
  
.container .nextbtn:hover {
  background-color: black;
}