.progress {
	background-color: #d8d8d8;
	border-radius: 20px;
	position: relative;
	margin: 15px 0;
	height: 1%;
	width: 400px;
	left: 50%;
	transform: translateX(-50%);
}

.progress-done {
	background: linear-gradient(to left, #45ff45, #45dd24);
	border-radius: 20px;
	color: rgb(0, 0, 0);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 10%;
	opacity: 0.5;
	transition: 1s ease 0.3s;
}