@import url("indexmain.css");

body {
  height: 100%;
}

.container {
  display: flex;
  align-items: center;
  width: 100%;
}

.container .imageContainer {
  flex: 1;
  margin-left: 1%;
}

.gallery-box div {
  columns: 1;
  column-gap: 2%;
}

.gallery-box img {
  width: 100%;
  height: auto;
  border-radius: 1%;
  object-fit: cover;
  border: 3px solid black;
}

.container .card {
  flex: 2;
  margin-top: 1%;
  text-align: justify;
  margin-left: 4%;
  margin-right: 2%;
}

.questionaire {
  margin-left: 1%;
}

h2 {
  width: 100%;
}

.btn {
  width: 18%;
}

.likert {
  padding: 0 0 35px;
}

hr {
  /* border: #eee; */
  display: none;
}

br {
  display: none;
}

#loadingtext {
  visibility: hidden;
}