@import url("indexmain.css");

.split {
  height: 100%;
  width: 60%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  width: 40%;
  background-color: #fff;
}

.leftdesign {
  text-align: center;
  justify-content: center;
}

.designimg {
  width: 80%;
}

.container {
  display: flex;
}

.container .imageContainer {
  width: 30%;
  margin: 3%;
  margin-top: 1%;
  border: 1px solid #ddd;
  box-shadow: 5px 5px 5px #ddd;
}

.container .rightsurvey {
  width: 60%;
  margin: auto;
  background-color: #eee;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.leftdesign {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 4%;
  text-align: center;
}

.leftdesign > li {
  flex-basis: 40%;
  position: relative;
  display: inline-block;
}

.leftdesign li img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 2px solid black;
}

.rightsurvey:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.rightsurvey fieldset {
  width: 90%;
  margin-left: 4%;
  margin-bottom: 2%;
  /* object-fit: cover; */
}

.questionaire h3 {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
}

.likert {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0 0 35px;
  display: block;
  margin-left: 5%;
  /* border: 1px solid black; */
  padding-right: -10%;
  padding-inline-start: 40px;
  padding-inline-end: 20px;
  /* border-bottom: 2px solid #ffffff; */
}

.reqfields {
  color: red;
  font-size: 14px;
  display: none;
}

.btn {
  width: 18%;
}